.button {

display:inline-flex;

align-items:center;

gap:14px;

text-decoration:none;

cursor:pointer;

font-size:.95rem;

letter-spacing:.12em;

text-transform:uppercase;

transition:.35s;

position:relative;

}

.button span{

transition:.35s;

}

.line{

width:34px;

height:1px;

background:white;

transition:.35s;

}

.button svg{

transition:.35s;

}

.button:hover{

color:var(--accent);

}

.button:hover span{

transform:translateX(6px);

}

.button:hover .line{

width:60px;

background:var(--accent);

}

.button:hover svg{

transform:translateX(8px);

}

.primary{

color:white;

}

.outline{

padding:18px 26px;

border:1px solid #444;

}

.outline:hover{

border-color:var(--accent);

}

.text{

padding:0;

}