.stat{

padding-bottom:2rem;

border-bottom:1px solid #292929;

}

.stat h3{

font-size:4rem;

font-weight:500;

line-height:1;

margin-bottom:.5rem;

}

.stat p{

color:#888;

text-transform:uppercase;

letter-spacing:.15em;

font-size:.85rem;

}