:root{

--background:#090909;

--surface:#131313;

--surface-2:#1b1b1b;

--text:#F5F5F5;

--muted:#8A8A8A;

--border:#2A2A2A;

--accent:#BC3019;

--container:1600px;

--radius:22px;

--transition:.45s cubic-bezier(.22,.61,.36,1);

--section-space:180px;

}